.recommended{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    text-decoration: none;
    color: inherit;
}

.side-video-list img{
    flex-basis: 49%;
    width: 50%;
}

.video-info{
    flex-basis: 49%;
    margin-left: 8px;
}

.video-info h4{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    color: #030303;
}

.video-info p{
    font-size: 12px;
    color: #606060;
    margin: 2px 0;
}

.side-video-list:visited{
    text-decoration: none;
    color: inherit;
}
